<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension-point id="coverageMarkerDefinition" name="%extension.coverageMarkerDefinition.name" schema="schema/coverageMarkerDefinition.exsd"/>

   <extension
         point="com.qnx.tools.ide.qde.ui.qdeLauncherToolDelegate">
      <delegate
            class="com.qnx.tools.ide.coverage.internal.ui.launch.CoverageLaunchDelegate"
            id="com.qnx.tools.ide.coverage.ui.CoverageLaunchDelegate">
      </delegate>
   </extension>
   <extension
         point="com.qnx.tools.ide.qde.ui.qdeLauncherToolTab">
      <toolTab
            name="%toolTab.coverage.name"
            icon="icons/ctool16/coverage-tab.gif"
            perspective="com.qnx.tools.ide.coverage.ui.perspective"
            class="com.qnx.tools.ide.coverage.internal.ui.launch.CoverageLaunchTab"
            modes="run,debug"
            ToolDelegateID="com.qnx.tools.ide.coverage.ui.CoverageLaunchDelegate"
            id="com.qnx.tools.ide.coverage.ui.CoverageToolTab">
      </toolTab>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="com.qnx.tools.ide.coverage.internal.ui.launch.CoveragePresentation"
            id="com.qnx.tools.ide.coverage.core">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%catagory.coverage.name"
            id="com.qnx.tools.ide.coverage.ui">
      </category>
      <view
            name="%views.coverageSessions.name"
            icon="icons/cview16/coverage-view.gif"
            category="com.qnx.tools.ide.coverage.ui"
            class="com.qnx.tools.ide.coverage.internal.ui.views.CoverageView"
            id="com.qnx.tools.ide.coverage.ui.CoverageView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            colorPreferenceValue="0,192,0"
            annotationType="com.qnx.tools.ide.coverage.ui.line.full.coverage"
            colorPreferenceKey="com.qnx.tools.ide.coverage.fullCoveredIndicationColor"
            overviewRulerPreferenceValue="true"
            presentationLayer="10"
            icon="icons/obj16/executed-line-mrk.gif"
            label="%preference.coveredMarker.label"
            textPreferenceValue="true"
            textPreferenceKey="com.qnx.tools.ide.coverage.fullCoveredIndication"
            overviewRulerPreferenceKey="com.qnx.tools.ide.coverage.fullCoveredIndicationInOverviewRuler">
      </specification>
      <specification
            colorPreferenceValue="192,0,0"
            annotationType="com.qnx.tools.ide.coverage.ui.line.no.coverage"
            colorPreferenceKey="com.qnx.tools.ide.coverage.notCoveredIndicationColor"
            overviewRulerPreferenceValue="true"
            presentationLayer="11"
            icon="icons/obj16/not-executed-line-mrk.gif"
            label="%preference.notCoveredMarker.label"
            textPreferenceValue="true"
            textPreferenceKey="com.qnx.tools.ide.coverage.notCoveredIndication"
            overviewRulerPreferenceKey="com.qnx.tools.ide.coverage.notCoveredIndicationInOverviewRuler">
      </specification>
      <specification
            colorPreferenceValue="192,192,0"
            annotationType="com.qnx.tools.ide.coverage.ui.line.partial.coverage"
            colorPreferenceKey="com.qnx.tools.ide.coverage.partialCoveredIndicationColor"
            overviewRulerPreferenceValue="true"
            presentationLayer="12"
            icon="icons/obj16/part-executed-line-mrk.gif"
            label="%preference.partialCoveredMarker.label"
            textPreferenceValue="true"
            textPreferenceKey="com.qnx.tools.ide.coverage.partialCoveredIndication"
            overviewRulerPreferenceKey="com.qnx.tools.ide.coverage.partialCoveredIndicationInOverviewRuler">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            name="com.qnx.tools.ide.coverage.ui.line.full.coverage">
      </type>
      <type
            name="com.qnx.tools.ide.coverage.ui.line.no.coverage">
      </type>
      <type
            name="com.qnx.tools.ide.coverage.ui.line.partial.coverage">
      </type>     
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="com.qnx.tools.ide.coverage.core.model.ICoverageElement"
            id="com.qnx.tools.ide.coverage.ui.generateReport">
         <filter
               name="CoverageReportGenerateActionFilter"
               value="supportsReportGeneration">
         </filter>
         <action
               label="%action.GenerateReport.label"
               icon="icons/obj16/gen-report.gif"
               class="com.qnx.tools.ide.coverage.internal.ui.actions.GenerateReport"
               menubarPath="coverageAdditions"
               enablesFor="1"
               id="com.qnx.tools.ide.coverage.ui.generateReportAction">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="com.qnx.tools.ide.coverage.core.model.ICoverageElement"
            id="com.qnx.tools.ide.coverage.ui.saveReport">
         <filter
               name="CoverageReportGenerateActionFilter"
               value="supportsReportGeneration">
         </filter>
         <action
               label="%action.SaveReport.label"
               icon="icons/obj16/gen-report.gif"
               class="com.qnx.tools.ide.coverage.internal.ui.actions.SaveReport"
               menubarPath="coverageAdditions"
               enablesFor="1"
               id="com.qnx.tools.ide.coverage.ui.saveReportAction">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="com.qnx.tools.ide.coverage.core.model.ICoverageFile"
            id="com.qnx.tools.ide.coverage.ui.CoveregeMarkers">
         <action
               label="%action.RemoveAllMarkers.label"
               class="com.qnx.tools.ide.coverage.internal.ui.actions.RemoveAllMarkers"
               menubarPath="coverageAdditions"
               enablesFor="1"
               id="com.qnx.tools.ide.coverage.ui.action.RemoveAllMarkersAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspective.coverage.name"
            icon="icons/cview16/coverage-perspective.gif"
            class="com.qnx.tools.ide.coverage.internal.ui.CoveragePerspectiveFactory"
            id="com.qnx.tools.ide.coverage.ui.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            name="%wizard.gccImport.name"
            icon="icons/ctool16/coverage-gcc-wiz.gif"
             category="com.qnx.tools.ide.qde.ui.category.qnx"
            class="com.qnx.tools.ide.coverage.internal.ui.gcc.CoverageImportWizard"
            id="com.qnx.tools.ide.coverage.ui.gcc.importWizard">
         <description>
            Import GCC coverage information from workspace in to a session
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%preference.CodeCoverage.name"
            category="com.qnx.tools.ide.qnxPreferences"
            class="com.qnx.tools.ide.coverage.internal.ui.CoveragePreferencePage"
            id="com.qnx.tools.ide.coverage.ui.PreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.qnx.tools.ide.coverage.internal.ui.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.httpcontexts">
      <httpcontext
            id="qnx-coverage">
         <resource-mapping
               path="/">
         </resource-mapping>
      </httpcontext>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/report"
            base-name="/webapp"
			httpcontextId="qnx-coverage"/>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/coverage"
            class="com.qnx.tools.ide.coverage.internal.ui.servlet.CoverageReportServlet">
		<init-param 
			name="default-xsl"
			value="/webapp/WEB-INF/xslt/cov-html.xslt">
		</init-param>
		<init-param 
			name="xml-xsl"
			value="/webapp/WEB-INF/xslt/xml.xslt">
		</init-param>
		<init-param
			name="debug"
			value="false">
		</init-param>         
      </servlet>
   </extension>

</plugin>
