<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="com.qnx.tools.ide.SystemProfiler.core.EventDataExtractor">
      <extractorContribution
            class="com.qnx.tools.ide.SystemProfiler.addressxlator.dataextractor.AddressDataExtractorContribution"
            orderHint="10"
            name="Address Data Extractor"
            id="com.qnx.tools.ide.SystemProfiler.addressxlator.addressextractor"/>
      <extractorContribution
            class="com.qnx.tools.ide.SystemProfiler.addressxlator.dataextractor.InterruptedProcessDataExtractorContribution"
            name="Interrupted Process Extractor"
            id="com.qnx.tools.ide.SystemProfiler.addressxlator.extractorContribution1"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.qnx.tools.ide.SystemProfiler.core.AbstractTraceElement"
            class="com.qnx.tools.ide.SystemProfiler.addressxlator.adapter.TraceElementAdapter">
         <adapter type="org.eclipse.core.resources.IFile"/>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.qnx.tools.ide.SystemProfiler.addressxlator.properties.AddressTranslationPreferencePage"
            category="com.qnx.tools.ide.SystemProfiler.preference.main"
            name="Address Translation Configuration"
            id="com.qnx.tools.ide.SystemProfiler.addressxlator.addressconfig"/>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.kev"
            class="com.qnx.tools.ide.SystemProfiler.addressxlator.properties.AddressTranslationPropertyPage"
            name="Address Translation"
            id="com.qnx.tools.ide.SystemProfiler.addressxlator.propertypage"/>
   </extension>
   <extension
         point="com.qnx.tools.ide.SystemProfiler.core.TraceEventProcessor">
      <processor
            class="com.qnx.tools.ide.SystemProfiler.addressxlator.dataextractor.RunningProcessor"
            name="Running Index Processor"
            id="com.qnx.tools.ide.SystemProfiler.addressxlator.running"/>
   </extension>
  <extension
         point="com.qnx.tools.ide.SystemProfiler.core.TraceEventProcessor">
      <processor
            class="com.qnx.tools.ide.SystemProfiler.addressxlator.dataextractor.AutoDiscoverLibraryAddressProcessor"
            name="Auto Discover Library Address Processor"
            id="com.qnx.tools.ide.SystemProfiler.addressxlator.autoDiscoverLibraryAddressProcessor"/>
   </extension>
</plugin>
