<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.ui.cheatsheets.cheatSheetContent"	id="com.qnx.tools.ide.momentics.cheat">
		<category 
			name="%cheatsheet.category"
			id="com.qnx.tools.ide.momentics.cheat.category"
			>
		</category>

		<cheatsheet
			name="%cheatsheet.mem.name"
			contentFile="cheatsheets/mem.xml"
			category="com.qnx.tools.ide.momentics.cheat.category"
			id="com.qnx.tools.ide.momentics.cheat.mem">
			<description>%cheatsheet.mem.desc</description>
		</cheatsheet>
				<cheatsheet
			name="%cheatsheet.codecoverage.name"
			contentFile="cheatsheets/codecoverage.xml"
			category="com.qnx.tools.ide.momentics.cheat.category"
			id="com.qnx.tools.ide.momentics.cheat.codecoverage">
			<description>%cheatsheet.codecoverage.desc</description>
		</cheatsheet>
	  <cheatsheet
			name="%cheatsheet.application_profiling.name"
			contentFile="cheatsheets/application_profiling.xml"
			category="com.qnx.tools.ide.momentics.cheat.category"
			id="com.qnx.tools.ide.momentics.cheat.application_profiling">
			<description>%cheatsheet.application_profiling.desc</description>
		</cheatsheet>
			  <cheatsheet
			name="%cheatsheet.system_profiling.name"
			contentFile="cheatsheets/system_profiling.xml"
			category="com.qnx.tools.ide.momentics.cheat.category"
			id="com.qnx.tools.ide.momentics.cheat.system_profiling">
			<description>%cheatsheet.system_profiling.desc</description>
		</cheatsheet>
				
	  <cheatsheet
			name="%cheatsheet.system_info.name"
			contentFile="cheatsheets/system_info.xml"
			category="com.qnx.tools.ide.momentics.cheat.category"
			id="com.qnx.tools.ide.momentics.cheat.system_info">
			<description>%cheatsheet.system_info.desc</description>
		</cheatsheet>
	 <cheatsheet
			name="%cheatsheet.system_builder.name"
			contentFile="cheatsheets/system_builder.xml"
			category="com.qnx.tools.ide.momentics.cheat.category"
			id="com.qnx.tools.ide.momentics.cheat.system_builder">
			<description>%cheatsheet.system_builder.desc</description>
		</cheatsheet>
		<cheatsheet
			name="%cheatsheet.target.name"
			contentFile="cheatsheets/targetconnection.xml"
			category="com.qnx.tools.ide.momentics.cheat.category"
			id="com.qnx.tools.ide.momentics.cheat.target">
			<description>%cheatsheet.target.desc</description>
		</cheatsheet>
	  <cheatsheet
			name="%cheatsheet.neutrino_ipc.name"
			contentFile="cheatsheets/neutrino_ipc.xml"
			category="com.qnx.tools.ide.momentics.cheat.category"
			id="com.qnx.tools.ide.momentics.cheat.neutrino_ipc">
			<description>%cheatsheet.neutrino_ipc.desc</description>
		</cheatsheet>
   <cheatsheet
         category="com.qnx.tools.ide.momentics.cheat.category"
         contentFile="cheatsheets/abatron.xml"
         id="com.qnx.tools.ide.momentics.examples.cheat.jtag_abatron"
         name="%cheatsheet.jtag.abatron.name">
      <description>
         %cheatsheet.jtag.abatron.desc
      </description>
   </cheatsheet>
   <cheatsheet
         category="com.qnx.tools.ide.momentics.cheat.category"
         contentFile="cheatsheets/macraigor.xml"
         id="com.qnx.tools.ide.momentics.examples.cheat.jtag_macraigor"
         name="%cheatsheet.jtag.macraigor.name">
      <description>
         %cheatsheet.jtag.macraigor.desc
      </description>
   </cheatsheet>
   <cheatsheet
         category="com.qnx.tools.ide.momentics.cheat.category"
         contentFile="cheatsheets/lauterbach.xml"
         id="com.qnx.tools.ide.momentics.examples.cheat.jtag_lauterbach"
         name="%cheatsheet.jtag.lauterbach.name">
      <description>
         %cheatsheet.jtag.lauterbach.desc
      </description>
   </cheatsheet>
	</extension>
   <extension
         id="com.qnx.tools.ide.momentics.examples.ext"
         name="QNX Examples"
         point="org.eclipse.ui.newWizards">
      <category
            id="com.qnx.tools.ide.momentics.examples.ide"
            name="%ExamplesWizardCategory.name"
            parentCategory="org.eclipse.ui.Examples"      
            >
      </category>
      <category
            id="com.qnx.tools.ide.momentics.examples.neutrino"
            name="%ExamplesNeutrinoWizardCategory.name"
            parentCategory="org.eclipse.ui.Examples"      
            >
      </category>
      <wizard
            archive="storage/SysProfilerMissedDeadlines.zip"
            canFinishEarly="false"
            category="org.eclipse.ui.Examples/com.qnx.tools.ide.momentics.examples.ide"
            class="com.qnx.tools.ide.momentics.examples.wizards.QnxExamplesNewWizard"
            defaultName="%ExamplesWizard.project.name.1"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
            hasPages="true"
            icon="icons/systemanalysis.gif"
            id="com.qnx.tools.ide.momentics.examples.wizards.1"
            name="%ExamplesWizard.name.1"
            pageDescription="%ExamplesWizard.page.description"
            pageTitle="%ExamplesWizard.page.title"
            project="true"
            windowTitle="%ExamplesWizard.name.1"
            openPath="hw_server.c"
            openCheatSheet="com.qnx.tools.ide.momentics.cheat.system_profiling">
      <description>%ExamplesWizard.description.1</description>
      <selection class="org.eclipse.core.resources.IResource"/> 
      </wizard>
    
      <wizard
            archive="storage/CodeCoverage.zip"
            category="org.eclipse.ui.Examples/com.qnx.tools.ide.momentics.examples.ide"
            class="com.qnx.tools.ide.momentics.examples.wizards.QnxExamplesNewWizard"
            defaultName="%ExamplesWizard.project.name.2"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
            hasPages="true"
            icon="icons/coverage-perspective.gif"
            id="com.qnx.tools.ide.momentics.examples.wizards.2"
            name="%ExamplesWizard.name.2"
            openCheatSheet="com.qnx.tools.ide.momentics.cheat.codecoverage"
            openPath="rbt_server.c"
            pageDescription="%ExamplesWizard.page.description"
            pageTitle="%ExamplesWizard.page.title"
            project="true"
            windowTitle="%ExamplesWizard.name.2">
      <description>%ExamplesWizard.description.2</description>
      <selection class="org.eclipse.core.resources.IResource"/> 
      
      </wizard>
        <wizard
              archive="storage/MemoryErrors.zip"
              category="org.eclipse.ui.Examples/com.qnx.tools.ide.momentics.examples.ide"
              class="com.qnx.tools.ide.momentics.examples.wizards.QnxExamplesNewWizard"
              defaultName="%ExamplesWizard.project.name.3"
              finalPerspective="org.eclipse.cdt.ui.CPerspective"
              hasPages="true"
              icon="icons/memanalysis_persp.gif"
              id="com.qnx.tools.ide.momentics.examples.wizards.3"
              name="%ExamplesWizard.name.3"
              openCheatSheet="com.qnx.tools.ide.momentics.cheat.mem"
              openPath="mallocbad.c"
              pageDescription="%ExamplesWizard.page.description"
              pageTitle="%ExamplesWizard.page.title"
              project="true"
              windowTitle="%ExamplesWizard.name.3">
      <description>%ExamplesWizard.description.3</description>
      <selection class="org.eclipse.core.resources.IResource"/> 
      </wizard>
        <wizard
              archive="storage/MemoryLeak.zip"
              category="org.eclipse.ui.Examples/com.qnx.tools.ide.momentics.examples.ide"
              class="com.qnx.tools.ide.momentics.examples.wizards.QnxExamplesNewWizard"
              defaultName="%ExamplesWizard.project.name.9"
              finalPerspective="org.eclipse.cdt.ui.CPerspective"
              hasPages="true"
              icon="icons/memanalysis_persp.gif"
              id="com.qnx.tools.ide.momentics.examples.wizards.9"
              name="%ExamplesWizard.name.9"
              openCheatSheet="com.qnx.tools.ide.momentics.cheat.mem"
              openPath="memory_leak.c"
              pageDescription="%ExamplesWizard.page.description"
              pageTitle="%ExamplesWizard.page.title"
              project="true"
              windowTitle="%ExamplesWizard.name.9">
      <description>%ExamplesWizard.description.9</description>
      <selection class="org.eclipse.core.resources.IResource"/> 
      </wizard>
      
        <wizard
              archive="storage/ApplicationProfiling.zip"
              category="org.eclipse.ui.Examples/com.qnx.tools.ide.momentics.examples.ide"
              class="com.qnx.tools.ide.momentics.examples.wizards.QnxExamplesNewWizard"
              defaultName="%ExamplesWizard.project.name.4"
              finalPerspective="org.eclipse.cdt.ui.CPerspective"
              hasPages="true"
              icon="icons/profiler.gif"
              id="com.qnx.tools.ide.momentics.examples.wizards.4"
              name="%ExamplesWizard.name.4"
              openCheatSheet="com.qnx.tools.ide.momentics.cheat.application_profiling"
              openPath="quick.c"
              pageDescription="%ExamplesWizard.page.description"
              pageTitle="%ExamplesWizard.page.title"
              project="true"
              windowTitle="%ExamplesWizard.name.4">
      <description>%ExamplesWizard.description.4</description>
      <selection class="org.eclipse.core.resources.IResource"/> 
      </wizard>
      
      <wizard
            archive="storage/NeutrinoMutex.zip"
            category="org.eclipse.ui.Examples/com.qnx.tools.ide.momentics.examples.neutrino"
            class="com.qnx.tools.ide.momentics.examples.wizards.QnxExamplesNewWizard"
            defaultName="%ExamplesWizard.project.name.5"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
            hasPages="true"
            icon="icons/newcqnx_app.gif"
            id="com.qnx.tools.ide.momentics.examples.wizards.5"
            name="%ExamplesWizard.name.5"
            openPath="example_mutex.c"
            pageDescription="%ExamplesWizard.page.description"
            pageTitle="%ExamplesWizard.page.title"
            project="true"
            windowTitle="%ExamplesWizard.name.5">
      <description>%ExamplesWizard.description.5</description>
      <selection class="org.eclipse.core.resources.IResource"/> 
      </wizard>
      
      <wizard
            archive="storage/NeutrinoThreads.zip"
            category="org.eclipse.ui.Examples/com.qnx.tools.ide.momentics.examples.neutrino"
            class="com.qnx.tools.ide.momentics.examples.wizards.QnxExamplesNewWizard"
            defaultName="%ExamplesWizard.project.name.6"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
            hasPages="true"
            icon="icons/newcqnx_app.gif"
            id="com.qnx.tools.ide.momentics.examples.wizards.6"
            name="%ExamplesWizard.name.6"
            openPath="example_threads.c"
            pageDescription="%ExamplesWizard.page.description"
            pageTitle="%ExamplesWizard.page.title"
            project="true"
            windowTitle="%ExamplesWizard.name.6">
      <description>%ExamplesWizard.description.6</description>
      <selection class="org.eclipse.core.resources.IResource"/> 
      </wizard>
      
      <wizard
            archive="storage/NeutrinoIPC.zip"
            category="org.eclipse.ui.Examples/com.qnx.tools.ide.momentics.examples.neutrino"
            class="com.qnx.tools.ide.momentics.examples.wizards.QnxExamplesNewWizard"
            defaultName="%ExamplesWizard.project.name.7"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
            hasPages="true"
            icon="icons/newcqnx_app.gif"
            id="com.qnx.tools.ide.momentics.examples.wizards.7"
            name="%ExamplesWizard.name.7"
            openCheatSheet="com.qnx.tools.ide.momentics.cheat.neutrino_ipc"
            openPath="pulse_client.c"
            pageDescription="%ExamplesWizard.page.description"
            pageTitle="%ExamplesWizard.page.title"
            project="true"
            windowTitle="%ExamplesWizard.name.7">
      <description>%ExamplesWizard.description.7</description>
      <selection class="org.eclipse.core.resources.IResource"/> 
      </wizard>

      <wizard
            archive="storage/NeutrinoResourceManager.zip"
            category="org.eclipse.ui.Examples/com.qnx.tools.ide.momentics.examples.neutrino"
            class="com.qnx.tools.ide.momentics.examples.wizards.QnxExamplesNewWizard"
            defaultName="%ExamplesWizard.project.name.8"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
            hasPages="true"
            icon="icons/newcqnx_app.gif"
            id="com.qnx.tools.ide.momentics.examples.wizards.8"
            name="%ExamplesWizard.name.8"
            openPath="example_resmgr_devnull.c"
            pageDescription="%ExamplesWizard.page.description"
            pageTitle="%ExamplesWizard.page.title"
            project="true"
            windowTitle="%ExamplesWizard.name.8">
      <description>%ExamplesWizard.description.8</description>
      <selection class="org.eclipse.core.resources.IResource"/> 
      </wizard>      
   </extension>

</plugin>
